
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.heroImage {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
}

.heroText {
    text-align: left;
    position: absolute;
    top: 28vw;
    left: 40vw;
    transform: translate(-50%, -50%);
    color: white;
}

.heroText, p {
    font-size: 3.2vw;
}
.heroText, h1 {
  font-size: 4vw;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: red;
    padding: 10px;
    text-align: center;
}

.footer {
    color: white;
    /* background: linear-gradient(to right, #f1f2b5, #135058); */
    background-color: red ;
    text-align: center;
    font-size: 30px;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer p{
    font-size: 12px;
}

.social-icons {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
    
.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.ticket {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: rgba(255,255,255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255, 0.25);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    background-color: rgb(223, 211, 196);
}
.icon {
    padding: 40px;
    position: relative;
    left: 30%;
}
.card h1, h4 {
    text-align: center;
}
.card h4 {
    font-size: 50px; 
    margin: -7px;
    color: red;
}
.card h1 {
    font-size: 40px;
    margin-top: -5px;

}
button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: white;

}
.buyButton{
    position: relative;
    left: 0;
    top: 9%;
    
}

.listItems{
    height: 140px;
}


.map {
    display: flex;
    justify-content: center;    
    margin-top: 30px;
    padding: 30px;
    
}
.mapBackground {

    margin-top: -30px;

}

@media (max-width: 600px) {
    .listItems {
        max-width: 100%;
    }
}